body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 500px;
    width: 400px;
    background-color: gray;
    border-radius: 25px;
    /*display: grid;*/
    /*grid-template-columns: auto auto auto auto;*/
    /*grid-gap: 0px; */
}

.buttons {
    width: 350px;
    border:  solid;
    padding-top: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    justify-content: center;

}

.display {
    padding-top: 20px;
    margin: 0 auto;
    background-color: blue;
    height: 60px;
    width: 350px;
    /*padding: px 0px;*/
    border-radius: 10px;
}

.mainBtn {
	/*border-radius: 5px;*/
    background-color: #e7e7e7;
    /*color: white;*/
    border: none;
    text-align: center;
    font-size: 24px;
    height: 70px;
    width: 80px;

}

#multiplyBtn {
    grid-column-start: 4;
    grid-row-start: 1;
}

#minusBtn {
    grid-column-start: 4;
    grid-row-start: 2;
}

#plusBtn {
    grid-column-start: 4;
    grid-row-start: 3;
}


#equalsBtn {
    grid-column-start: 4;
    grid-row-end: span 5;
    background-color: #e7e7e7;
    border: none;

}

#zeroBtn {
    background-color: #e7e7e7;
    border: none;
    grid-row-start: 5;
    grid-column-end: span 2;
}