body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 520px;
    width: 430px;
    background: linear-gradient(to bottom, #666699 0%, #000066 100%);
    border-radius: 25px;
    border: 5px solid;
}


.display {
	text-align:left;
    margin: 20px;
    background-color: #99cc00;
    height: 115px;
    width: 380px;
    border: 5px solid;
    border-radius: 20px;
}
.display .historyExp {
	font-size: 18px;
	opacity: 0.5;
	float:right;
	padding-right: 20px; 
}

.display .currentExp {
	padding: 30px 10px;
	font-size: 30px;
}

.buttons {
    width: 350px;
    border-width: 10px;
    border-radius: 10px;
    grid-gap: 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
}



button {
    background-color: #999999;
    color: white;
    border: none;
    text-align: center;
    font-size: 30px;
    height: 60px;
    width: 90px;

}

.oprBtn {
    background-color: #4d4d4d;
}


.zero {
    color: white;
    background-color: #999999;
    font-size: 24px;
    border: none;
    grid-row-start: 5;
    grid-column-end: span 2;
    width:190px;

}

.equals {
    grid-column-start: 4;
    grid-row-end: span 2;
    color: white;
    background-color: #ff6600;
    border: none;
    height:130px;
}

.minus {
    grid-column-start: 4;
    grid-row-start: 2;

}

.plus {
    grid-column-start: 4;
    grid-row-start: 3;

}





